@page
@model BookStore.Pages.ProductDetails.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDetail.bookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDetail.bookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDetail.authorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDetail.authorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDetail.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDetail.Book.bookID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDetail.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDetail.Author.authorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductDetail?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
